.training__background-wrap {
  padding-top: 20px;
}

.training .title__secondary {
  font-size: 34px;
  font-weight: 800;
  color: $white;
}

.training__text-block {
  margin-bottom: 20px;
  font-size: 20px;
}

.training__list {
  @include list-style;
  margin-bottom: 50px;
  padding-left: 50px;
  background-repeat: no-repeat;
  background-image: url("../images/svg/aside.svg");
  background-position: left top -7px;
}

.training__list li {
  margin-bottom: 9px;
}

.training__list h3 {
  font-size: 18px;
  font-weight: 800;
  color: $corp-green;
}

.training__list p {
  font-size: 15px;
  font-weight: 800;
  color: $white;
}

.training__quest {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 13px 0 16px;
  background-color: $black;
  border: 2px solid $light-text;
  border-radius: 20px;

  & p {
    margin-bottom: 10px;
    font-size: 21px;
    color: $white;
  }
}

.training__btn {
  width: 203px;
  padding: 11px 0;
}

@media (min-width: 768px) {
  .training .container {
    display: flex;
    flex-wrap: wrap;
  }

  .training__wrap {
    width: 50%;
    margin-bottom: 60px;
  }

  .training__list {
    margin-left: 5%;
  }

  .training__quest {
    flex-direction: row;
    align-items: baseline;
    margin-bottom: 60px;
    padding: 20px;

    p {
      margin-right: 43px;
    }
  }
}

@media (min-width: 1024px) {
  .training .container {
    align-items: flex-start;
    justify-content: space-between;
  }

  .training .title__secondary {
    font-size: 39px;
    font-weight: 800;
    color: $white;
  }
  
  .training__text-block {
    margin-bottom: 20px;
    font-size: 18px;
  }

  .training__wrap {
    width: 50%;
    margin-bottom: 30px;
  }
}
