@font-face {
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/GothamPro/GothamPro.ttf") format("truetype");
}

@font-face {
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/GothamPro/GothamPro-Medium.ttf") format("truetype");
}

@font-face {
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/GothamPro/GothamPro-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Gotham Pro";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/GothamPro/GothamPro-Black.ttf") format("truetype");
}
