.news-container {
  border-bottom: 1px solid $white;
}

.news-links-list {
  position: relative;
  padding-bottom: 10px;

  &::before {
    @include element-style (100%, 2px, $light-text);
    bottom: 0;
  }
}

.news-links-list__link {
  font-size: 14px;
  line-height: 22px;
  font-weight: bold;
  color: $light-text;
  text-decoration: none;

  &:hover {
    color: $white;
  }

  &--active {
    color: $white;
  }
}

.news-links-list__item {
  width: unset;
  flex-shrink: unset;
  margin-right: 25px;
}

@media (min-width: 768px) {
  .news-links-list__item {
    width: unset;
    flex-shrink: unset;
  }
}

@media (min-width: 1024px) {
  .news-links-list__item {
    width: unset;
    flex-shrink: unset;
    margin-right: 33px;
  }
}

@media (min-width: 1440px) {
  .news-links-list {
    display: flex;
  }

  .news-links-list__link {
    font-size: 17px;
    font-weight: 700;
    line-height: 24px;
  }

  .news-links-list__item {
    margin-right: 33px;
  }
}
