.filters {
	padding-top: 20px;
	overflow: visible;
}

.filters .container {
	overflow: visible;
}

@media (min-width: 1024px) {

	.filters {
		padding: 0;
	}

	.filters .container {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		padding: 20px 36px;
		background-color: #272A30;
		border-radius: 27px;
	}

}

@media (min-width: 1440px) {

	.filters .container {
		min-width: 1164px;
        max-width: 1164px;
	}
	
}
