.footer-menu__list {
	@include list-style;
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;	
}

.footer-menu__list li {
	margin-bottom: 37px;

	&:last-of-type {
		margin-bottom: 0;
	}
}

.footer-menu__list li:first-of-type {
	flex-basis: 50%;
}

.footer-menu__list li:nth-of-type(2) {
	flex-basis: 41%;
}

.footer-menu__list li:nth-of-type(3) {
	flex-basis: 41%;
}

.footer-menu__list a {
	@include link-style;
	color: $white;
	font-size: 12px;
	line-height: 30px;  
}

.footer-menu__list a:hover {
	color: $corp-blue;
}

.footer-menu__title {
	
	display: block;
	font-size:12px;
	margin-bottom: 11px;
	text-decoration: none;
}

.footer-menu .sub-menu {
	@include list-style;
}

.footer-menu .sub-menu li {
	margin-bottom: 8px;

	&:last-of-type {
		margin-bottom: 0;
	}
}

.footer-menu .sub-menu a {
	color: $light-text;
}

.footer-menu .sub-menu a:hover {
	color: $corp-blue;
}

@media (min-width: 768px) {

	.footer-menu {
		flex-basis: 100%;
		margin: 0 auto;
		margin-top: 40px;
		padding: 0 100px;
	}

	.footer-menu__list {
	    flex-wrap: nowrap;
	}

}

@media (min-width: 1024px) {

	.footer-menu {
		flex: 1 0 auto;
		margin: 0;
		margin-left: 25px;
		padding: 0;
	}

	.footer-menu__list li {
		margin-left: 24px;
		margin-bottom: 0;

		&:first-of-type {
			margin-left: 0;
		}
	}

	.footer-menu__list li:first-of-type {
		flex-basis: auto;
	}

	.footer-menu__list .sub-menu li {
		margin-left: 0;
	}

	.footer-menu__list a {
		margin-bottom: 12px;
		font-size: 16px;
	}

	.footer-menu__title {
		font-size: 16px;
		margin-bottom: 15px;
	}
}

@media (min-width: 1440px) {
	.footer-menu {
		margin-left: 30px;
	}

	.footer-menu__list li {
		margin-left: 54px;
	}
}
