.main-footer {
    padding-bottom: 26px;
    width: 100%;
    background-color: $dark-text;
}

.main-footer .container {
    position: relative;
    padding-top: 26px;

    &::before {
        @include element-style(100%, 1px, $white);
        top: 0;
        left: 0;
    }
}

.main-footer .getnews {
    display: none;
}

/* Стили для main-footer страницы Кубок Сократа */

.main-footer--socrat {

    .container:before {
        height: 0;
    }

    .contact-us {
        position: static;
    }

    .contact-us__title {
        margin-left: 0;
    }

    .contact-us__list {
        flex-wrap: nowrap;
        margin-left: 0;
    }

    .contact-us__item {
        align-self: flex-end;
        margin-bottom: 0;
    }

    .contact-us__item:first-of-type {
        margin-bottom: 0;
    }

    .contact-us__item--vk,
    .contact-us__item--fb {
        flex-basis: 14%;
    }
}

@media (min-width: 768px) {
    .main-footer {
        padding-bottom: 0;
    }

    .main-footer .container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .main-footer .getnews {
        display: flex;
        flex-direction: column;
        margin-right: 50px;
        width: 267px;
    }


    /* Стили для main-footer страницы Кубок Сократа */

    .main-footer--socrat .contact-us {
        margin-left: auto;
    }

    .main-footer--socrat .contact-us__list {
        flex-wrap: nowrap;
    }

    .main-footer--socrat .contact-us__item {
        margin-right: 25px;
    }

    .main-footer #mailpoet_form_1 form input[type="email"] {
        padding-left: 0 !important;
        text-align: center;
    }


}

@media (min-width: 1024px) {
    .main-footer .container {
        justify-content: space-between;
        padding: 10px;
        padding-top: 26px;
    }

    .main-footer .getnews {
        margin-right: 20px;
    }

    .main-footer .getnews__btn {
        margin-top: 13px;
    }

    .main-footer label[for="getnews-accept"] {
        display: block;
        box-sizing: border-box;
    }

    .main-footer label[for="getnews-accept"]::before {
        width: 16px;
        height: 16px;
    }

    .main-footer input[type="checkbox"]:checked + label::after {
        width: 8px;
        height: 8px;
        left: 4px;
    }

    .main-footer .confidentiality {
        margin-top: 18px;
    }

    .main-footer .confidentiality__link {
        margin-left: 0;
    }

    /* Стили для main-footer страницы Кубок Сократа */

    .main-footer--socrat .container {
        display: flex;
        justify-content: flex-end;
    }
}

@media (min-width: 1440px) {
    .main-footer .container {
        padding: 0 0px;
        padding-top: 35px;
    }
}
