.projects {
  width: 100%;
  color: $dark-text;
  overflow: hidden;
}

.projects--startup {
  margin-top: -111px;
}

.projects__background-wrap {
  position: relative;
  background-color: $white;
  padding-bottom: 20px;
}

.projects .container {
  overflow: hidden;
}

.projects__list {
  @include list-style;
  padding-top: 30px;
}

.projects .news-links-list__link {
  font-size: 14px;
  color: $light-text;
}

.projects .news-links-list__link:hover {
  color: $dark-text;
}

.projects__title {
  text-align: left;
  text-transform: uppercase;
  color: $black;
  font-size: 28px;
  line-height: 40px;
  font-weight: 800;
  letter-spacing: -1px;
  margin-bottom: 35px;
  width: 100%;
}

.projects__item {
  margin-bottom: 40px;
}

.projects__btn {
  margin: 0 auto;
  margin-top: 40px;
  width: 167px;
  height: 36px;
  color: $dark-text;
  font-size: 14px;
  font-weight: 700;
  background-color: $white;
  border: 1px solid $corp-blue;
  background-image: none;
  cursor: pointer;
}

.projects__item .article-mini__image-wrap {
  box-shadow: 0 0 13px rgba(0, 0, 0, 0.4);
}

.projects__item .article-mini__caption p {
  color: $dark-text;
}

.projects__link {
  @include link-style;
  display: block;
  position: relative;
  margin: 0 auto;
  padding-right: 25px;
  width: 110px;
  color: $corp-blue;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;

  &::before {
    @include element-style(6px, 6px, transparent);
    right: 0;
    top: 4px;
    border: 2px solid $corp-blue;
    border-radius: 2px;
    border-bottom: none;
    border-left: none;
    transform: rotate(45deg);
  }
}

@media (min-width: 375px) {
  .projects .news-links-list__link {
    font-size: 12px;
  }
}

@media (min-width: 768px) {
  .projects__background-wrap {
    padding-top: 30px;
  }

  .projects__title {
    font-size: 34px;
  }

  .projects .news-links-list__item {
    margin-right: 25px;
  }

  .projects .news-links-list__link {
    font-size: 14px;
  }

  .blog-content__btn-container {
    width: 100%;
  }

  .blog-content__list,
  .blog-content__btn-container {
    justify-content: space-around;
  }
}

@media (min-width: 1024px) {
  .projects__title {
    display: none;
  }

  .projects__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }

  .projects__item {
    width: 310px;

    &:nth-child(2n) {
      margin-left: 25%;
    }
  }

  .projects__btn {
    margin-left: 40%;
    margin-right: 40%;
  }

  .projects .news-links-list__link {
    font-size: 24px;
  }
  
  .blog-links-list {
    justify-content: center;
  }

  .blog-content__image-wrapper {
    width: 100%;
  }

  .blog-content__image-wrapper img {
    width: 400px;
    margin: 0 auto;
  }

  .blog-content__item {
    width: 400px;
  }

  .blog-content__item-description {
    width: 400px;
    margin: 0 auto;
  }
}

@media (min-width: 1440px) {
  .projects {
    .container {
      padding: 0;
      margin: 0;
      margin: 0 auto;
    }

    .projects__title {
      font-size: 40px;
    }

    .blog-content__list {
      flex-wrap: wrap;
    }

    .blog-content__item {
      margin: 0;
      width: 476px;
    }

    .blog-content__item:first-child {
      margin-right: 140px;
    }

    .blog-content__image-wrapper img {
      width: 476px;
      margin: 0 auto;
    }

    .blog-content__item-description {
      width: 476px;
      margin: 0 auto;
      margin-bottom: 45px;
    }
  }
}
