.cup-partners {
    position: relative;
    margin: 0 0 79px 0;
    padding-top: 15px;
    color: $white;
    background-repeat: no-repeat;
    background-size: 305px;
    background-position: -560% 92%;
    padding-bottom: 25px;

    .title__colored {
        color: $accent-color;
    }

    .title__secondary {
        margin-bottom: 14px;
        font-weight: 800;
        font-size: 22px;
    }
}

.cup-partners__text-block {
    font-size: 20px;
    line-height: 1.66;
    margin-bottom: 15px;
}

.cup-partners__logo-title {
    font-weight: 700;
    font-size: 21px;
    text-transform: uppercase;
    margin-bottom: 30px;
}

.cup-partners__logo {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 45px;

    .logo {
        margin-bottom: 25px;
    }
}

@media (min-width: 375px) {

    .cup-partners .title__secondary {
        font-size: 25px;
    }
}

@media (min-width: 768px) {

    .cup-partners .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .cup-partners__logo {
        margin-top: 30px;
        width: 40%;
        order: 1;
    }
    .cup-partners__text-block {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .cup-partners__info {
        width: 50%;
    }
}
@media (min-width: 1024px) {

    .cup-partners {
        padding-top: 70px;
        padding-bottom: 70px;

        .title__secondary {
            margin-bottom: 4px;
            font-weight: 800;
            font-size: 40px;
        }
    }

    .cup-partners__text-block {
        font-size: 24px;
        line-height: 1.66;
        width: 75%;
    }

    .cup-partners__logo {
        margin-top: 55px;
    }
}
