.options-slider .container {
  position: relative;
  padding-top: 40px;
  padding-bottom: 80px;
  overflow-y: visible;
}

.options-slider__shown-container {
  position: relative;
  margin-bottom: 30px;
}

.options-slider__list {
  @include list-style;
  position: absolute;
  bottom: 58px;
  display: flex;
  flex-direction: row;
  transform: translate(0, 100%);
  z-index: 200;
}

.options-slider__item {
  margin-right: 12px;

  &:last-of-type {
    margin-right: 0;
  }
}

.options-slider__article {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.options-slider__list .options-slider__item--hidden {
  @include visually-hidden;
}

.options-slider__text {
  display: none;
  margin-bottom: 29px;
}

.options-slider__text p {
  width: 87%;
  font-size: 14px;
  line-height: 1.66;
  color: $light-text;
}

.options-slider__visual {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  padding-top: 32px;
  width: 168px;
  height: 208px;
  border: solid 2px $corp-green;
  border-radius: 15px;
  background-color: $dark-text;
  box-sizing: border-box;
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);

  &--small {
    width: 167px;
  }
}

.options-slider__article img {
  display: block;
  width: 79px;
  height: 94px;
}

.options-slider__visual-title {
  display: block;
  text-align: center;
  font-weight: 800;
  font-size: 14px;
  color: $corp-green;
  text-transform: uppercase;
}

.options-slider__btn {
  display: none;
  margin-top: 29px;
  width: 172px;
  height: 36px;
  color: $dark-text;
}

.options-slider__article--blue .title__colored {
  color: $corp-blue;
}

.options-slider__article--blue .options-slider__visual {
  border-color: $corp-blue;
}

.options-slider__article--blue img {
  width: 94px;
  height: 94px;
}

.options-slider__article--blue .options-slider__visual-title {
  color: $corp-blue;
}

.options-slider__article--red .title__colored {
  color: #EF4864;
}

.options-slider__article--red .options-slider__visual {
  border-color: #EF4864;
}

.options-slider__article--red img {
  width: 87px;
  height: 94px;
}

.options-slider__article--red .options-slider__visual-title {
  color: #EF4864;
}

.options-slider__article--active .options-slider__text {
  display: block;
}

.options-slider__article--active .options-slider__btn {
  display: flex;
}

.options-slider__article--active .options-slider__visual {
  padding: 13px;
  padding-top: 30px;
  width: 240px;
  height: 240px;
}

.options-slider__article--active .options-slider__visual-title {
  font-weight: 700;
  font-size: 20px;
  text-transform: none;
  white-space: nowrap;
}

.options-slider__article--active img {
  width: 126px;
  height: 150px;
}

@media (max-width: 375px) {
  .options-slider__article--active .options-slider__visual {
    width: 100%;
    order: 0;
  }

  .options-slider__text {
    order: 1;
    margin-bottom: 0;
    margin-top: 29px;
  }

  .options-slider__btn {
    width: 100%;
    order: 2;
  }

  .options-slider__list {
    // Убираем списки с обучением
    display: none;
  }
}

@media (min-width: 768px) {

  .options-slider__text p {
    font-size: 20px;

  }

}

@media (min-width: 1024px) {

  .options-slider__article--active .options-slider__visual {
    margin-left: auto;
  }

  .options-slider__text {
    position: absolute;
    top: 50%;
    left: 0;
    margin: 0;
    width: 58%;
    transform: translate(0, -50%);
  }

  .options-slider__text p {
    width: 100%;
  }

  .options-slider__btn {
    margin-left: auto;
    width: 240px;
    height: 47px;
  } 
}

@media (min-width: 1440px) {

  .options-slider .container {
    padding-bottom: 30px;
  }

  .options-slider__shown-container {
    margin-bottom: 0;
  }

  .options-slider__list {
    bottom: 97px;
  }

  .options-slider__item {
    margin-right: 25px;
  }

  .options-slider__visual {
    padding: 30px;
    padding-top: 55px;
    width: 267px;
    height: 332px;
  }

  .options-slider__visual-title {
    font-size: 25px;
  }

  .options-slider__article--green img {
    width: 139px;
    height: 150px;
  }

  .options-slider__article--blue img {
    width: 150px;
    height: 150px;
  }

  .options-slider__article--red img {
    width: 139px;
    height: 150px;
  }

  .options-slider__text p {
    font-size: 24px;
    letter-spacing: -1px;
  }

  .options-slider__article--active .options-slider__visual {
    padding: 24px;
    padding-top: 47px;
    width: 394px;
    height: 394px;
  }

  .options-slider__article--active img {
    width: 222px;
    height: 265px;
  }

  .options-slider__article--active .options-slider__visual-title {
    font-size: 32px;
  }

  .options-slider__btn {
    margin-top: 36px;
    width: 394px;
    height: 67px;
    font-size: 21px;
    border-radius: 15px;
  }


}
