.partners {
    display: none;
}

@media (min-width: 1024px) {
    
    .partners {
        display: block;
        position: absolute;
        top: -145px;
        right: 30px;
        width: 250px;
        z-index: 300;
    }

    .partners__link {
        @include link-style;
        margin-bottom: 60px;
        color: $corp-blue;
        font-size: 20px;
        text-decoration: underline;
    }

    .partners__list {
        @include list-style;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }

    .partners__item {
        margin-bottom: 16px;

        &:first-of-type{
            margin-right: 35px;
        }

        &:nth-of-type(2) {
            margin-right: 0;
            margin-left: 0;
        }

        &:nth-of-type(3) {
            margin-right: 20px;
            margin-left: 10px;
        }

        &:nth-of-type(4) {
            margin-right: 0;
        }

        &:nth-of-type(5) {
            margin-left: 10px;
            margin-right: 20px;
        }
       
        &:nth-of-type(7) {
            margin-left: 20px;
            margin-right: 20px;
            margin-bottom: 0;
        }

        &:last-of-type {
            margin-bottom: 0;
            margin-right: 0;
        }
    }

    .partners__item img {
        width: 100px;
        height: auto;
    }

    /*.partners__item:nth-of-type(2) img {
        width: 150px;
    }

    .partners__item:nth-of-type(3) img {
        width: 182px;
    }

    .partners__item:nth-of-type(4) img {
        width: 150px;
        height: 50px;
    }

    .partners__item:nth-of-type(5) img {
        width: unset;
        height: 60px;
    }

    .partners__item:nth-of-type(6) img {
        width: 103px;
        height: 32px;
    }

    .partners__item:nth-of-type(7) img {
        width: 187px;
        height: 32px;
    }*/

    .partners__item:last-of-type img {
        width: 32px;
        height: 32px;
    }
}

@media (min-width: 1440px) {

    .partners {
    	top: -115px;
    	right: 45px;
    	width: 344px;
    }

    .partners__link {
        display: block;
        margin-bottom: 64px;
        text-align: left;
    }

    .partners__item {
    	margin-right: 50px;
    	margin-bottom: 20px;

        &:first-of-type {
            margin-left: 0;
        }

        &:nth-of-type(3) {
            margin-left: 20px;
            margin-right: 20px;
        }

        &:nth-of-type(5) {
            margin-left: 24px;
            margin-right: 30px;
        }

        &:nth-of-type(6) {
            margin-right: 0;
        }

        &:nth-of-type(7) {
        	margin-left: 35px;
            margin-right: 30px;
        }
    }

    .partners__item img {
    	width: 144px;
    }

    .partners__item:nth-of-type(2) img {
        width: 150px;
    }

    .partners__item:nth-of-type(3) img {
        width: 152px;
    }

    .partners__item:nth-of-type(4) img {
        width: 132px;
    }

    .partners__item:nth-of-type(5) img {
        width: 106px;
    }

    .partners__item:nth-of-type(6) img {
        width: 103px;
    }

    .partners__item:nth-of-type(7) img {
        width: 187px;
    }

    .partners__item:last-of-type img {
    	width: 32px;
    }
}

@media (min-width: 1820px) {

    .partners {
        top: -135px;
    }
}
