.read-us {
	padding-top: 20px;
	padding-bottom: 42px;
}

.read-us .container {
	overflow-y: visible;
}

.read-us__text {
	color: $light-text;
	font-size: 14px;
	width: 85%;
	margin-bottom: 30px;
}

.read-us__link {
	@include link-style;
	text-transform: uppercase;
	color: $corp-blue;
	font-size: 14px;
	font-weight: 600; 
}

.read-us__title-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
	margin-bottom: 25px;
}

.read-us__title {
	margin-bottom: 0;
}

@media (min-width: 768px) {

	.read-us {
    	padding-top: 125px;
    	padding-bottom: 82px;
    }

	.read-us .container {
		position: relative;
	}

	.read-us__title-container {
		margin-bottom: 25px;
	}

	.read-us__title {
		margin-right: 30px;
	}

	.read-us__title-container a {
		margin-right: auto;
	}

	.read-us__text {
		margin-bottom: 55px;
		width: 50%;
		font-size: 20px;
	}

	.read-us .getnews__btn {
		margin: 0;
		margin-top: 25px;
	}
		
}

@media (min-width: 1440px) {

	.read-us__link {
		position: relative;
		padding-right: 38px;
		font-size: 20px;
		font-weight: 700;

		&::before {
			@include element-style(9px, 9px, transparent);
			right: 2px;
			top: 7px;
			border: 2px solid $corp-blue;
			border-radius: 2px;
			border-top: none;
			border-left: none;
			transform: rotate(-45deg);
		}

	}

	.read-us__text {
		width: 47%;
		font-size: 24px;
		line-height: 2;
	}

	.read-us #mailpoet_form_1 form.mailpoet_form {
		text-align: left !important;
	}

	.read-us .getnews input[type="email"] {
		margin: 0;
		margin-right: 45px;
	}

	.read-us #mailpoet_form_1 form input[type="email"] {
		margin: 0 !important;
		margin-right: 45px !important;
	}
    
    .read-us #mailpoet_form_1 > form > .mailpoet_paragraph {
		display: inline-block !important;
	}

	.read-us #mailpoet_form_1 > form > div.mailpoet_paragraph.last {
		display: block !important;
	}

	.read-us .getnews__btn {
		display: inline-block;
	}
}
