.programms {
  color: $dark-text;
  overflow: hidden;
}

.programms .ask-questions {

}

.programms__background-wrap {
  padding-bottom: 295px;
  background-color: $white;
  background-image: url("../images/svg/programms.svg");
  background-repeat: no-repeat;
  background-size: 344px;
  background-position: bottom 40px center;
}

.programms__title {
  margin-bottom: 17px;
  font-size: 26px;
  font-weight: 800;
}

.programms__title span {
  display: block;
}

.programms__title .title__colored {
  color: $corp-blue;
}

.programms__text {
  margin-bottom: 19px;
  padding-right: 30px;
  font-size: 14px;

  &--desktop {
    display: none;
  }
}

.programms__btn {
  margin-left: auto;
}

.programms .ask-questions {
  padding-bottom: 10px;
  background-color: $white;
}

.programms .ask-questions__wrap {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  padding: 20px 15px;
  background-color: $dark-text;
  border-radius: 20px;
  box-shadow: 0 0 7px 7px rgba(0, 0, 0, 0.16);
  box-sizing: border-box;
}

.programms .ask-questions__title {
  color: $white;
}

.programms .ask-questions__link {
  display: none;
}

.programms .wpcf7-acceptance {
  display: none;
}

.programms .ask-questions form {
  padding-bottom: 0;
}

.programms .ask-questions input[type="email"] {
  width: 100%;
}

.programms .ask-questions input[type="submit"] {
  flex-shrink: 0;
}

@media (min-width: 375px) {
  .programms__title {
    font-size: 30px;
  }
}

@media (min-width: 768px) {
  .programms__title {
    font-size: 36px;
  }

  .programms__text {
    font-size: 20px;
  }
}

@media (min-width: 1024px) {
  .programms__background-wrap {
    padding-top: 20px;
    padding-bottom: 120px;
    background-size: 520px;
    background-position: top right 10%;
  }

  .programms__wrap {
    width: 50%;
  }

  .programms__title {
    margin-bottom: 13px;
    font-size: 40px;
  }

  .programms__text {
    margin-bottom: 18px;
    font-size: 24px;

    &--mobile {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }

  .programms__btn {
    width: 267px;
    margin-left: 0;
  }

  .programms .ask-questions__wrap {
    flex-direction: row;
  }
}

@media (min-width: 1440px) {
  .programms__background-wrap {
    background-size: 578px;
    background-position: top right 10%;
  }

  .programms__wrap {
    width: 55%;
  }
}