.banners {
	width: 100%;
	color: $dark-text;
	overflow: hidden;
}

.banners__background-wrap {

	background-color: $white;
}

.banners__title {
	display: none;
}

.banners__list {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
}

.banners__item:nth-child(odd) {
	margin-top: auto;
}

.banners__item:nth-child(even) {
	margin-bottom: auto;
}

.banners__item img {
	width: 100px;
}

@media (min-width: 1024px) {

	.banners {
		height: unset;
	}

	.banners__title {
		display: block;
		margin-bottom: 15px;
		font-size: 15px;
		font-weight: 400;
	}

	.banners__item:nth-child(even) {
		margin: 0;
	}

	.banners__item:nth-child(odd) {
		margin: 18px;
	}

	.banners__item {
		margin: 0;
		margin-right: 18px;
	}
}

@media (min-width: 1440px) {
	
	.banners__item {
		margin-right: 32px;
	}

	.banners__item img {
		width: 144px;
	}
}
