.btn {
	@include link-style;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 11px;
	color: $white;
	font-weight: 700;
	white-space: nowrap;
	border: none;
	border-radius: 10px;
	background-image: $blue-gradient;
	box-sizing: border-box;
	box-shadow: 7px 6px 3px 0 rgba(0, 0, 0, 0.16);
	cursor: pointer;
}

.btn--accent {
    background-image: $red-gradient;
}

.btn--green {
	color: $dark-text;
	background-image: $green-gradient;
}

.btn--small {
	height: 30px;
	width: 167px;
}

.btn--big {
	width: 202px;
	font-size: 12px;
	height: 36px;
}

.btn-socrat {
	@include link-style;
	display: flex;
	justify-content: center;
	width: 250px;
	height: 44px;
	align-items: center;
	font-size: 16px;
	color: $dark-text;
	font-weight: 700;
	white-space: nowrap;
	border-radius: 30px;
	background-color: $corp-green;
	box-sizing: border-box;
	cursor: pointer;

	@media (max-width: 375px) {
		width: 100%;
}
}

@media (max-width: 375px) {
	.btn--small {
		width: 100%;
	}
	
	.btn--big {
		width: 100%;
	}
}

@media (min-width: 768px) {

	.btn {
		font-size: 13px;
	}

@media (min-width: 1024px) {

	.btn {
		font-size: 16px;
	}
}

@media (min-width: 1440px) {

	.btn--big {
		height: 48px;
	}
}
}