.bullets {
	@include list-style;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.bullets li {
	margin-right: 8px;
	width: 8px;
	height: 8px;
	display: inline-block;
	background-color: $white;
	border-radius: 50%;
	cursor: pointer;

	&:last-of-type {
		margin-right: 0;
	}
}

.bullets .bullets__active {
	background-color: $corp-blue;
}

@media (min-width: 1024px) {

	.bullets li {
		margin-right: 12px;
        width: 12px;
	    height: 12px;
	}
}
