.container {
	margin: 0 auto;
	padding: 0 15px;
	min-width: 320px;
	box-sizing: border-box;
}

@media (min-width: 375px) {

	.container {
		min-width: 375px;
	}
}

@media (min-width: 768px) {

	.container {
		padding: 0 22px;
		min-width: 768px;
	}
}

@media (min-width: 1024px) {

    .container {
    	padding: 0 36px;
	    min-width: 1024px;
	    max-width: 1092px;
    }
}

@media (min-width: 1440px) {

    .container {
    	padding: 0;
    	min-width: 1092px;
    }
}
