.sign-up {
    display: flex;
    flex-direction: column;
    width: 202px;
}

.sign-up__dropdown {
    position: relative;
    margin-bottom: 30px;
    width: 202px;
}

.sign-up__mark {
    display: flex;
    align-items: center;
    padding-left: 26px;
    width: 202px;
    height: 36px;
    font-size: 13px;
    color: $light-text;
    line-height: 1;
    background-color: rgba(0, 0, 0, 0.2);
    border: 1px solid #a7a7a7;
    border-radius: 7px;
    box-shadow: 7px 6px 3px 0 rgba(0, 0, 0, 0.16);
    box-sizing: border-box;
    cursor: pointer;

    &::before {
        @include element-style(8px, 8px, transparent);
        right: 15px;
        top: 11px;
        border: 2px solid $light-text;
        border-left: none;
        border-top: none;
        border-radius: 1px;
        transform: rotate(45deg);
        transition: width 1s, height 1s, border 1s, background-color 1s;
        z-index: 50;
    }
}

.sign-up__mark--opened {

    &::before {
        width: 12px;
        height: 2px;
        border: none;
        background-color: $light-text;
        transform: none;
        top: 49%;
    }
}

.sign-up__options {
    @include list-style;
    position: absolute;
    margin-top: 10px;
    width: 100%;
    color: $light-text;
    background-color: $dark-text;
    border: 1px solid #a7a7a7;
    border-radius: 7px;
    box-sizing: border-box;
    box-shadow: 7px 6px 3px 0 rgba(0, 0, 0, 0.16);
    opacity: 0;
    z-index: 200;
    transition: opacity 1s;
}

.sign-up__options--shown {
    opacity: 1;
}

.sign-up__options li {
    padding: 8px 0;
    padding-left: 16px;
    cursor: pointer;
}

.sign-up__options li:first-of-type {
    padding-top: 10px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.sign-up__options li:last-of-type {
    padding-bottom: 10px;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
}

.sign-up__options li:hover {
    color: $white;
    background-image: $blue-gradient;
}

.sign-up__btn {
    padding: 0;
    width: 202px;
    white-space: nowrap;
}

@media (max-width: 375px) {
    .sign-up {
        width: 100%;
    }
    
    .sign-up__dropdown {
        width: 100%;
        margin-bottom: 15px;
    }

    .sign-up__mark { 
        width: 100%;
    }

    .sign-up__btn {
        width: 100%;
    }

    .sign-up__options {
        display: none;
    }
    
    .sign-up__options--shown {
        display: block;
        opacity: 1;
    }
}

@media (min-width: 1024px) {

    .sign-up {
        flex-direction: row;
        width: 584px;
    }

    .sign-up__dropdown {
        margin-bottom: 0;
        margin-right: 50px;
        width: 267px;
    }

    .sign-up__mark {
        width: 267px;
        height: 48px;
        font-size: 16px;
        border-radius: 15px;

        &::before {
            top: 15px;
            right: 27px;
        }
    }

    .sign-up__mark--opened {

        &::before {
            top: 49%;
        }
    }

    .sign-up__options {
        padding: 5px 0;
        border-radius: 15px;
        background-color: rgba(0, 0, 0, 0.2);
    }

    .sign-up__btn {
        padding: 0 70px;
        width: 267px;
        height: 48px;
        font-size: 16px;
    }
}
