.team__text-block {
    padding: 0 0 30px;
    font-size: 14px;
    line-height: 22px;
    color: $light-text;
}

.team .title__secondary {
    margin-top: 20px;
    font-size: 24px;
}

.team__list {
    @include list-style;
    margin-bottom: 29px;
}

.team__item:first-of-type {
    flex-basis: 100%;
}

.team__item {
    margin-bottom: 25px;
}

.team__link {
    position: relative;
    @include link-style;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 117px;
    color: #EF4864;
    font-size: 16px;
    white-space: nowrap;
}

.team__link::before {
    @include element-style(96px, 96px, transparent);
    top: 0;
    left: 50%;
    border: 2px solid $white;
    border-radius: 17px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60px 54px;
    transform: translate(-50%);
}

.team__item--designer .team__link::before {
    background-image: url("../images/icons/icon-designer.svg");
}

.team__item--project .team__link::before {
    background-image: url("../images/icons/icon-projectmanager.svg");
}

.team__item--developer .team__link::before {
    background-image: url("../images/icons/icon-developer.svg");
}

@media (max-width: 375px) {
    .team__list {
        display: flex;
        justify-content: space-around;
    }

    .team__item:first-of-type {
        flex-basis: unset;
    }

    .team__link {
        font-size: 14px;
    }

    .team__link::before {
        @include element-style(80px, 80px, transparent);
        left: auto;
        transform: none;
    }
}

@media (min-width: 375px) {
    .team .title__secondary {
        font-size: 28px;
    }
    .team__list {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap;
    }

    .team__item {
        flex-basis: 30%;
    }

    .team__item {
        margin-bottom: 0;
    }

    .team__item:first-of-type {
        flex-basis: 30%;
    }
}

@media (min-width: 768px) {
    .team__list {
        margin-top: 50px;
    }
    .team__text-block {
        font-size: 20px;
        line-height: 1.4;
        width: 80%;
        margin: 0 auto;
        text-align: center;
    }

    .team .title__secondary {
        font-size: 28px;
        text-align: center;
    }
}

@media (min-width: 1024px) {
    .team {
        &::before {
            @include clouds(100px, -99px);
        }
    }

    .team .title__secondary {
        font-size: 40px;
    }

    .team__list {
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-bottom: 70px;
    }

    .team__item {
        margin-right: 120px;

        &:last-of-type {
            margin-right: 0;
        }
    }

    .team__link {
        padding-top: 172px;
        font-size: 25px;
        color: $corp-blue;
    }

    .team__item--designer .team__link::before,
    .team__item--project .team__link::before,
    .team__item--developer .team__link::before {
        width: 158px;
        height: 158px;
        background-size: 120px;
    }

    .team__svg-wraper {
        margin-bottom: 10px;
        width: 158px;
        height: 158px;
        border: 2px solid $white;
        border-radius: 17px;
    }

    .team__link svg {
        width: 84px;
        height: 76px;
        fill: $white;
    }
}

@media (min-width: 1440px) {
    .team {
        padding-top: 50px;
        padding-bottom: 30px;
        &::before {
            @include clouds(121px, -130px);
        }
    }

    .team__text-block {
        font-size: 24px;
    }
}

@media (min-width: 1820px) {
    .team {
        padding-bottom: 50px;
        padding-top: 50px;
        &::before {
            @include clouds(120px, -145px);
        }
    }
}
