.logo {
    order: 0;
}

.logo__link {
    @include link-style;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo__svg-container {
    width: 37px;
    height: 25px;
}

.logo svg {
    width: 37px;
    height: 25px;
    fill: #00a7ce;
}

.logo span {
    margin-left: 3px;
    display: inline-block;
    font-size: 10px;
    font-weight: 700;
    line-height: 0.95;
    letter-spacing: 0;
}

.top-header--mobile .logo span {
    display: none;
}

@media (min-width: 768px) {

    .logo__svg-container {
        width: 50px;
        height: 34px;
    }

    .logo svg {
        width: 50px;
        height: 34px;
    }

    .logo span {
        font-size: 12px;
    }


}

@media (min-width: 1440px) {

    .logo__link {
        width: 171px;
        height: 46px;
    }

    .logo__svg-container {
        width: 64px;
        height: 43px;
    }

    .logo svg {
        width: 64px;
        height: 43px;
    }

    .logo span {
        font-size: 16px;
        letter-spacing: 0.5px;
        font-weight: 800;
        line-height: 0.95;
    }
}
