.top-header {
    padding: 20px 0;
    width: 100%;
    background-color: $dark-text;
}

.top-header .container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.top-header__btn {
    margin-left: auto;
    width: 100px;
    order: 1;
}

.top-header__btn-svg {
    margin-right: 6px;
    width: 11px;
    height: 11px;
    fill: $white;
}

.top-header--mobile {
    position: relative;
    padding-top: 15px;
    padding-bottom: 10px;
}

.top-header--mobile .container {
    min-width: unset;
}

.top-header--mobile .language-switch {
    display: flex;
    margin-left: auto;
}

.top-header--mobile .top-header__btn {
    display: none;
}

.top-header--mobile .main-nav {
    margin-left: 47px;
}

/* Стили для main-footer страницы Кубок Сократа */

.top-header--socrat .btn-socrat {
    display: none;
}

.top-header--socrat .main-nav {
    ::before {
        content: none;
    }
}

@media (min-width: 768px) {
    .top-header {
        background-color: transparent;
    }

    .top-header__btn {
        width: 150px;
    }
}

@media (min-width: 1024px) {
    .top-header__btn {
        order: 3;
        margin-left: 27px;
    }

    .top-header--socrat .btn-socrat {
        display: flex;
        justify-content: center;
        align-items: center;
        order: 2;
        margin-left: 50px;
    }
}

@media (min-width: 1440px) {
    .top-header__btn {
        margin-left: 32px;
    }
}
